body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 16px;
  margin: 0px auto 0px auto;
  max-width: 600px;
}

.link-logos {
  border: black 1px solid;
  padding: 1em;
  border-radius: 0.4em;
  display: flex;
  justify-content: space-around;
}

.link-logos a {
  display: flex;
  align-items: center;
}

.link-logos img {
  margin-right: 0.5em;
}

img.icon {
  width: 2em;
  height: 2em;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
