<ul>
  <li>
    <a href="https://shrug.org/meetings/shrug-64/">Rust for Rubyists</a> (<a href="https://github.com/northerner/rust-for-rubyists-talk">slides</a>) - Sheffield Ruby User Group, 2017
  </li>
  <li>
      <a href="https://shrug.org/meetings/shrug-64/">Introducing Elixir</a> - Sheffield Ruby User Group, 2015
  </li>
  <li>
      <a href="https://groups.google.com/d/msg/dotnetsheffield/GqP9IGlkChc/o_fw0_ItHsoJ">Playing with the PlayStation Mobile SDK Beta</a> - Sheffield .NET User Group, 2012
  </li>
</ul>
